       /* Small*/
       /* @media (min-width: 768px){
        .contener {
            width: 750px;
        }
    } */
    
           /* medium */
    /* @media (min-width: 992px){
        .contener {
            width: 970px;
        }
        
    } */
           /* large */
    /* @media (min-width: 1200px){
        .contener {
            width: 1170px;
        }
    } */
